# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
TODO.md
logs.txt
.idea/
secret.md
# app.env
tmp

.env


*.pem
# 192.168.1.81-key.pem
# 192.168.1.81.pem
# 192.168.100.143-key.pem
# 192.168.100.143.pem
